name: OpenGL MacOS Intel

on:
  push:
    branches-ignore:
      - main
    tags-ignore:
      - "**"
  workflow_dispatch:

jobs:
  ###################################
  #                                 #
  # FULL BUILDS                     #
  #                                 #
  ###################################
  macos-full-build:
    runs-on: macos-15-intel
    # permissions:
    #   contents: write   # Needed to update releases

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 1
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-ccache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-ccache-

      - name: Get machine name
        run: |
          echo "Machine name: $RUNNER_NAME"

      - name: Install ninja-build
        run: brew install ninja

      - name: Install gettext
        run: brew install gettext

      - name: Install automake and other network utils
        run: brew install automake curl rsync wget

      - name: Install GNU sed
        run: brew install gnu-sed

      - name: Install Python dependencies
        run: brew install libb2 libffi readline sqlite3 xz zlib

      - name: Install pyFLTK dependencies
        run: brew install swig

      - name: Remove system OpenEXR and Imath
        run: |
          brew uninstall --ignore-dependencies openexr imath || true

      - name: Checkout git tag type
        run: git ls-remote --tags https://github.com/ggarra13/fltk.git | grep v1.2.2

      - name: Setup environment
        run: mkdir -p ssh

      - name: Decode SSH key
        run: echo "${{ secrets.SSH_PRIVATE_KEY }}" | base64 -d > ssh/id_rsa
        shell: bash

      - name: Set permissions on SSH key
        run: chmod 600 ssh/id_rsa

      - name: Decode FLTK SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.FLTK_DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Set executable permissions
        run: |
          chmod +x ./*.sh ./bin/*.sh ./etc/*.sh ./bin/release/*.sh

      - name: List disk space
        run: |
          df -k

      - name: Build mrv2
        env:
          GITHUB_OWNER: ""
          BUILD_PYTHON: ON
          MRV2_PYFLTK: ON
          MRV2_PYBIND11: ON
          MRV2_NETWORK: ON
          MRV2_PDF: ON
          MRV2_VK: ON
          TLRENDER_AV1: ON
          TLRENDER_EXR: ON
          TLRENDER_FFMPEG: ON
          TLRENDER_FFMPEG_MINIMAL: ON
          TLRENDER_HAP: ON
          TLRENDER_JPEG: ON
          TLRENDER_NDI: OFF
          TLRENDER_NET: ON
          TLRENDER_OPENJPH: ON
          TLRENDER_RAW: ON
          TLRENDER_SGI: ON
          TLRENDER_STB: ON
          TLRENDER_SVTAV1: ON
          TLRENDER_TIFF: ON
          TLRENDER_USD: ON
          TLRENDER_VK: OFF
          TLRENDER_VPX: ON
          TLRENDER_YASM: ON

        run: |
          ./etc/runme_nolog.sh -t package clean

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mrv2-opengl-macos-intel
          path: |
            paquetes/BUILD-Darwin-amd64/Release/mrv2-*.dmg
          if-no-files-found: warn
